body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	text-align: center;
}

img {
	width: 80px;
	border-radius: 15px;
	border: 2px solid black;
}

.container {
	width: 90%;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
}

.table {
	font-size: 16px;
	border-collapse: collapse;
	box-shadow: 0 20px 20px #a2a7ab;
	border-radius: 10px 10px 8px 8px;
	overflow: hidden;
}

.table thead tr {
	font-family: 'Poppins', sans-serif;
	text-align: left;
	font-size: 20px;
	font-weight: 200;
	color:white;
	background-image: linear-gradient(#ef0000, #810000);
}

.table th, .table td{
	padding: 12px 15px;
}

.table tbody tr:nth-child(even){
	background-color: #efefef;
}

.table tbody tr:nth-child(odd){
	background-color: #fff;
}

.table tbody tr:last-of-type {
	border-bottom: 8px solid #810000
}

.table tbody tr:hover {
	color: rgb(0, 0, 0);
	font-weight: bold;
	border-top: 2px solid rgb(255, 0, 0);
	border-bottom: 2px solid rgb(255, 0, 0);
	cursor: pointer;
	background-color: #ffe9e9;
}